NEXT_PUBLIC_API_BASE_URL=https://localhost:7253/api
NEXT_PUBLIC_SPOTIFY_CLIENT_ID=your_client_id # Fill in this field with your client id from Spotify
NEXT_PUBLIC_SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/callback
NEXT_PUBLIC_SPOTIFY_SCOPES=user-library-read playlist-modify-public user-follow-modify user-library-modify user-follow-read playlist-read-private
